*{
	margin: 0px;
}
#wrapper {justify-content: center;flex-direction: column;align-items: center;
}
.home {
	position: fixed;
	background-color: #1abc9c;
	top: 0;width: 100%;height: 50px;
}
.home>li {padding: 13px;text-align: center;list-style: none;}
.home>li>a {font-weight: bold;font-size: 25px;}
.none {margin: 53px; background-color: blueviolet;}


.file {background-color: #181c1a; margin-bottom: 1px;}
.file>li {list-style: none; padding: 30px 70px;}
.file>li>i {font-size: 100px; color: #f39c12;}
.file>li>a {color: red; padding: 13px; text-decoration: none; font-size: 25px;}

.img {background-color: #181c1a; margin-bottom: 1px;}
.img>li {list-style: none; padding: 35px 70px;}
.img>li>i {font-size: 90px; color: #f39c12;}
.img>li>a {color: red; padding: 13px; text-decoration: none; font-size: 25px;}

.link {background-color: #181c1a; margin-bottom: 1px;}
.link>li {list-style: none; padding: 35px 60px;}
.link>li>i {font-size: 80px; color: #f39c12;}
.link>li>a {color: red; padding: 13px; text-decoration: none; font-size: 25px;}